<!DOCTYPE html>

<html ng-app="myApp">
	<head>
		<title>AngularJS Views, Controller and Scope</title>
	</head>

<body>
	<div class="container" data-ng-controller="SimpleController">
		<h3>AngularJS Views, Controller and Scope</h3>

	<div class="container">
	Name:
	
	<input type="text" ng-model="name"/> {{name}}
	<br />
	</div>
		
		<ul>
			<li ng-repeat="cust in customers | filter:name">{{cust.name}} - {{cust.address}}</li>
		</ul>
		
	</div>

	<script src="angular.min.js"></script>

	<script>
	var app = angular.module('myApp', []);
		app.controller('SimpleController', function($scope) {

			$scope.customers = [
				{ name: 'John Smith',  address: 'Phoenix'},
				{ name: 'John Doe',  address: 'New York'},
				{ name: 'Jane Doe',  address: 'San Francisco'}
				];
		});
	</script>

</body>
</html>